---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import Hero from "../components/Hero.astro"
import Proyectos from '../components/Proyectos.astro';
import Testimonios from '../components/Testimonios.astro';
import Faqs from '../components/Faqs.astro';
import Contacto from '../components/Contacto.astro';
---

<Layout>
	
	<Hero/>
	<Proyectos/>
	<Testimonios/>
	<div class="w-full h-32 bg-black"></div>
	<Faqs/>
	<Contacto/>
</Layout>
