---
import Analytics from '@vercel/analytics/astro'

---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/identika-favicon-64x64.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Identika ™ Agency</title>
		<script defer src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"></script>
		<link rel="stylesheet" href="/src/styles/global.css" />
		<Analytics/>

	</head>
	<body>
		<slot />
	</body>
</html>
